@media (min-width: 968px) {
	header,
	main {
		padding: 20px 160px !important;
	}
	header .logo {
		font-size: 24px !important;
	}
	.card-university {
		width: 200px !important;
	}
}

@media (min-width: 1200px) {
	.card-university {
		width: 280px !important;
	}
}